
* {
  box-sizing: border-box;
  display: block;
  font-family: "Lato";
}

title{
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#container{
  max-width: 960px;
  margin: auto;
}

body{
  background: url("space4.gif");
  color: rgb(176,196,222);
}

#page-header{
  border:0;
  clear: both;
  float: left;
  margin: auto;
  padding: 2% 0 2% 0;
  width: 100%;
}


.nav li{
  border: 2px white solid;
  display: inline-block;
  float: right;
  margin: 2%;
  padding: 1%;
}

.nav li:hover{
  background: white;
}

.nav li a:hover{
  color: black;
}

.nav li a{
  color: white;
  font-size: .75rem;
  list-style: none;
  text-decoration: none;
  width: 15%;
}

main{
  clear: both;
  display: block;
  margin: 0;
  width: 100%;
}
.content{
  background: rgba(0,205,205,.5);
  border: 4px;
  border-color: white;
  border-style: solid;
  display: block;
  margin: 0;
  text-align: center;
  width: 100%;
}

textarea{
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 3em;
  padding: 5% 10%;
}


label{
  color: rgb(176,196,222);
}

label, input{
  display: inline-block;
  margin: 10px 5px 10px 0;
}




select {
display: block;
margin: 0 auto;
}

input[type="text"]{
    font-size:.75rem;
}

input[type="email"]{
    font-size:.75rem;
}

input[type=submit] {
    color:black;
    font-size: 2em;
}

input[type=submit]:hover {
    cursor: pointer;
}


footer{
  clear: both;
  display: block;
}

a{
  display: inline-block;
}
.media {
  margin-left: auto;
  margin-right: auto;
  }


  #social{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }
