
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


#container{
  /*display: none;*/
  max-width: 960px;
  margin: auto;
}

body{
  background: url("space4.gif");
}

#page-header{
  border:0;
  box-sizing: border-box;
  clear: both;
  display: block;
  float: left;
  margin: auto;
  padding: 2% 0 2% 0;
  width: 100%;
}


.nav li{
  border: 2px white solid;
  display: inline-block;
  float: right;
  margin: 2%;
  padding: 1%;
}

.nav li:hover{
  background: white;
}

.nav li a:hover{
  color: black;
}

.nav li a{
  color: white;
  font-size: .75rem;
  list-style: none;
  text-decoration: none;
  width: 15%;
}


.music{
  clear: both;
  color: white;
  display: inline-block;
  font-size:2rem;
  margin: auto;
  padding: 10% 10% 10% 10%;
  text-align: center;
  width: 49%;
}

p:hover{
  cursor: pointer;
  font-size: 3rem;
}



/*#grindin{
  color: rgb(255,20,147);
}


#pop{
  color:#00FF00;
}

#money{
  color:#FFFF00;
}

#move{
  color:#00F5FF;
}*/


.soundcloud{
  display: none;
}

footer{
  clear: both;
  display: block;
}
  .media img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  #social{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }

@media (max-width: 670px){

  .nav li{
    float:none;
    width: 25%;
  }

  .nav ul{
    text-align: center;s
  }
}

@media (max-width: 532px){

  .nav li{
    display: block;
    float: none;
    width: 100%;
  }
  .content{
      padding:0;
      width: 100%;
  }

}
