
/*#fadeImage{
  background: white;
}*/

* {
  box-sizing: border-box;
  font-family: "Lato";


}
#cover{
  background-color: white;
  max-width: 960px;
}

#container{
  display: none;
  max-width: 960px;
  margin: auto;
}

body{
  background: url("space4.gif");
}

#page-header{
  border:0;
  box-sizing: border-box;
  clear: both;
  display: block;
  float: left;
  font-family: Lato;
  margin: auto;
  padding: 2% 0 2% 0;
  width: 100%;
}

.clearfix{
  clear: both;
}


.nav li{
  border: 2px white solid;
  display: inline-block;
  float: right;
  margin: 2%;
  padding: 1%;
}

.nav li:hover{
  background: white;
}

.nav li a:hover{
  color: black;
}

.nav li a{
  color: white;
  font-size: .75rem;
  list-style: none;
  text-decoration: none;
  width: 15%;
}

main{
  clear: both;
  display: block;
  margin: auto;
  /*position:relative;*/
  width: 100%;
}


.content{
  display: block;
  padding: 2% 25% 2% 25%;
  text-align: center;
  width: 100%;
}

.content:hover{
  cursor: pointer;
}

.content h1{
  color: white;
  display: block;
  font-size: 4.5rem;
  margin: auto;
  text-align: center;
  width: 100%;
  }

  .red{
    color:red;
  }


.soundCloud{
  display: none;
}

footer{
  clear: both;
  display: block;
}

.media img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  }

  #social{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }

#noColor {color: white}
@-webkit-keyframes colorChange {
     0% {color: white;}
     20% {color: rgb(255,20,147);}
     40% {color: rgb(50,205,50);}
     60% {color: rgb(0,255,255);}
     80% {color: rgb(255,128,0);}      100% {color: white;}

}
@-moz-keyframes colorChange {
  0% {color: white;}
  20% {color: rgb(255,20,147);}
  40% {color: rgb(50,205,50);}
  60% {color: rgb(0,255,255);}
  80% {color: rgb(255,128,0);}
  100% {color: white;}

}

#noColor {
    -webkit-animation-name: colorChange 5s infinite;
    animation: colorChange 5s infinite;
}

#noColor.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}





@media (max-width: 670px){

  .nav li{
    float:none;
    width: 25%;
  }

  .nav ul{
    text-align: center;s
  }
}

@media (max-width: 532px){

  .nav li{
    display: block;
    float: none;
    width: 100%;
  }
  .content{
      padding:0;
      width: 100%;
  }

}
